<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layoutprincipal.html}">

<head>
    <title>Manter Professor</title>
</head>

<body>
    <div class=" container" layout:fragment="conteudoprincipal">
        <div class="p-4 p-md-5 mt-4 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Manter Professor</h1>
            </div>
        </div>
        <!--Os elementos HTML para texto estruturam e formatam o conteúdo de uma página. Os principais são <p> para parágrafos, 
            <h1> a <h6> para títulos, e tags de formatação como <strong> (negrito semântico), <em> (itálico), <span> 
                (estilização genérica) e <br> (quebra de linha)-->

                
    </div>
    </div>
</body>

</html>